@font-face {
  font-family: Tungsten;
  font-weight: bold;
  src: url("../../../assets/Tungsten-Bold.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  font-family: Tungsten;
  font-weight: bold;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: black;
}
body video {
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background: red;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 160px 520px 250px;
  grid-template-columns: 200px 1100px 360px;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.back-button {
  color: white;
  /* position: absolute;
  top: 30px;
  left: 40px; */
  font-size: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
.agents {
  display: grid;
  grid-template-columns: 90px 90px 90px 90px 90px 90px 90px 90px 90px 90px 90px;
  grid-template-rows: 90px 90px;
  justify-content: center;

  grid-column: 1 / 4;
  grid-row: 3 / 4;
}
.agent-card {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  position: relative;
  transition: 0.3s ease;
}
.agent_artwork {
  position: absolute;
  height: 900px;
}
.agent-card .agent_icon_icon {
  width: 80px;
  height: 80px;
}

.not-selected {
  background-color: black;
}
.selected {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgb(254, 255, 190);
}

.agent_icon_icon {
  width: 80px;
  position: relative;
  z-index: 0;
}

.agent-card.locked .agent_icon_icon {
  opacity: 0.3;
}

.agent-card {
  position: relative;
  transition: 0.3s ease;
}

.agent_icon_inner_border_corner-tl {
  width: 2px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
}

.agent_icon_inner_border_corner-tr {
  width: 2px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 78px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
}

.agent_icon_inner_border_corner-bl {
  width: 2px;
  height: 2px;
  position: absolute;
  top: 78px;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
}

.agent_icon_inner_border_corner-br {
  width: 2px;
  height: 2px;
  position: absolute;
  top: 78px;
  left: 78px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
}

.agent_icon_inner_border_t {
  width: 80px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.agent_icon_inner_border_r {
  width: 2px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 78px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.agent_icon_inner_border_b {
  width: 80px;
  height: 2px;
  position: absolute;
  top: 78px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.agent_icon_inner_border_l {
  width: 2px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.selected .agent_icon_inner_border_t {
  background-color: #eaeeb2;
}

.selected .agent_icon_inner_border_r {
  background-color: #eaeeb2;
}

.selected .agent_icon_inner_border_b {
  background-color: #eaeeb2;
}

.selected .agent_icon_inner_border_l {
  background-color: #eaeeb2;
}

.agent_icon_inner_bg {
  width: 72px;
  height: 72px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: 0;
}

.locked .agent_icon_inner_bg {
  background-color: rgba(0, 0, 0, 0.15);
}

.agent_icon_inner_fg {
  width: 72px;
  height: 72px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 2;
  transition: 0.3s ease;
}

.agent-card .agent_icon_inner_fg {
  background-color: rgba(255, 255, 255, 0.3);
}

.selected .agent_icon_inner_bg {
  background-color: rgba(255, 255, 255, 0.5);
}

.not-selected {
  opacity: 0.3;
}

.locked {
  background-color: rgba(0, 0, 0, 0.75);
  position: relative;
  display: inline-block;
  color: white;
  opacity: 1;
}
.locked::before {
  content: url(assets/lock.svg);
  width: 36px;
  position: absolute;
  top: 20%;
  left: 25%;
}
.artwork-wrapper {
  position: absolute;
  top: 0;
  left: 25%;
  width: 100%;
  height: 100%;
}
.artwork {
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0;
  transition: 0.5s ease;
}

.artwork-selected {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.artwork-deselected {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 300%;
}
.rollbutton {
  z-index: 1;
  color: white;
  font-size: 50px;
  height: 85px;
  background: rgb(80, 231, 148, 0.6);
  background: linear-gradient(
    90deg,
    rgba(63, 231, 148, 0.6) 0%,
    rgba(69, 218, 159, 0.6) 15%,
    rgba(88, 232, 184, 0.6) 40%,
    rgba(65, 217, 169, 0.6) 75%,
    rgba(82, 230, 186, 0.6) 100%
  );
  padding: 10px 30px;
  border-radius: 2px;
  transition: 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  margin-top: 430px;
}
.rollbutton::before {
  content: url(assets/roll.svg);
  margin-right: 10px;
}
.reset-button {
  z-index: 1;
  color: white;
  background-color: #ff4655;
  font-size: 60px;
  padding: 5px 20px;
  border-radius: 2px;
  transition: 0.3s ease;
  cursor: pointer;
  height: 100px;
  /* position: absolute;
  bottom: 65px;
  right: 150px; */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  align-self: flex-start;
}
.reset-button::before {
  content: url(assets/reset-svgrepo-com.svg);
  margin-right: 10px;
}
.filters {
  /* position: absolute;
  bottom: 200px;
  right: 70px; */
  display: flex;
  flex-direction: column;
  align-items: start;
  align-self: flex-end;
  grid-row: 2 /3;
  grid-column: 3 / 4;
}
.filter-button {
  position: relative;
  display: inline-block;
  z-index: 1;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 60px;
  padding: 10px 20px;
  cursor: pointer;
  height: 100px;
}

.inactive::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 100%;
  background-color: rgba(255, 255, 255, 0.363);
  width: 40px;
  height: 40px;
  border-radius: solid white;
}

.active::before {
  content: url(assets/x-symbol-svgrepo-com.svg);
  color: white;
  position: absolute;
  top: 30px;
  right: 100%;
  background-color: rgba(255, 255, 255, 0.363);
  width: 40px;
  height: 40px;
  border-radius: solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.lockSentinels {
}
.lockInitiators {
}
.lockDuelists {
}
.lockControllers {
}
