@font-face {
  font-family: Tungsten;
  font-weight: bold;
  src: url("../../../assets/Tungsten-Bold.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  font-family: Tungsten;
  font-weight: bold;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: black;
}
body video {
  z-index: -1;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.back-button {
  color: white;
  position: absolute;
  top: 10px;
  font-size: 120px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.agents {
  display: grid;
  grid-template-columns: 90px 90px 90px 90px 90px 90px 90px 90px 90px 90px 90px;
  grid-template-rows: 90px 90px;
  justify-content: center;
  margin-top: 700px;
}
.agent-card {
  height: 80px;
  width: 80px;
  border: solid white 3px;
}
.agent-card img {
  width: 80px;
  height: 80px;
}

.not-selected {
  background-color: black;
}
.selected {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgb(254, 255, 190);
}
.locked {
  background-color: black;
  position: relative;
  display: inline-block;
}
.locked::before {
  content: url(assets/lock.svg);
  width: 36px;
  position: absolute;
  top: 20%;
  left: 25%;
}
.rollbutton {
  z-index: 1;
  color: white;
  font-size: 70px;
  background-color: #ff4655;
  padding: 10px 50px;
  border-radius: 2px;
  transition: 0.3s ease;
  cursor: pointer;
  position: absolute;
  top: 160px;
}

.reset-button {
  z-index: 1;
  color: white;
  background-color: #ff4655;
  font-size: 60px;
  padding: 5px 20px;
  border-radius: 2px;
  transition: 0.3s ease;
  cursor: pointer;
  position: absolute;
  bottom: 65px;
  right: 300px;
}
.filters {
  position: absolute;
  top: 150px;
  right: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.filter-button {
  position: relative;
  display: inline-block;
  z-index: 1;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 60px;
  padding: 10px 20px;
  cursor: pointer;
  height: 100px;
}
.filter-button::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 100%;
  background-color: rgba(255, 255, 255, 0.363);
  width: 40px;
  height: 40px;
  border-radius: solid white;
}

.active {
  background-color: greenyellow;
}
.inactive {
  background-color: gray;
}
